.container {
  width: 100%;
  max-width: var(--container-max-width-desktop, 1600px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-margin-x-mobile, 1.5rem);
  padding-right: var(--container-margin-x-mobile, 1.5rem);
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    padding-left: var(--container-margin-x-desktop, 2rem);
    padding-right: var(--container-margin-x-desktop, 2rem);
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: var(--container-margin-x-mobile, 1rem);
    padding-right: var(--container-margin-x-mobile, 1rem);
  }
}
